/* @import url("https://api.tiles.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mapbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;

  &__marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
  }
}

.mapbox__children {
  width: 100%;
}

.mapbox__popup {
  /* background-color: purple; */
  background: none;
  border-radius: 10px;
}

.mapbox__popup-content {
  /* background-color: purple; */
  background: none;
  border-radius: 10px;
}
